body {
  background-color: #1b1b1b;
  font-family: var(--pyro-font-family);
}
main {
  display: flex;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}

pyro-card {
  min-height: 40vh;
  min-width: 45vw;
  margin: 1em;
}
